.container {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .barChart {
        display: flex;
        align-items: center;

        .barChartLabel {
            margin-left: 1rem;
        }
    }

    .largeStat {
        text-align: right;
    }
}
