@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-bgVar1 text-text;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-bg rounded-full hover:bg-accent;
}

.p-link {
    @apply text-accent hover:underline;
}

.text-fill-none {
    -webkit-text-fill-color: transparent
}
