@import "tailwindcss";

@source "..";
@source "../../packages/ui";

@custom-variant hashover (@media (hover: hover));

@theme {
    --color-bgVar2: #1a1b23;
    --color-bgVar1: #1e212c;
    --color-bg: #2b3043;
    --color-bgLanding: #1a1b23aa;
    --color-textVar1: #ccd0d6;
    --color-text: #ffffff;
    --color-accent: #3861fb;
    --color-accentVar1: #2095f2;
    --color-success: #24cd7c;
    --color-danger: #ed7853;
    --color-warning: #f3da57;
    --color-accentAlt: #e568d9;
    --color-accentAltVar1: #ff99e9;
}

* {
    scroll-behavior: smooth;
}

html,
body {
    @apply bg-bgVar1 text-text;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    @apply w-0 hashover:w-2;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-bg rounded-full hover:bg-accent;
}

.p-link {
    @apply text-accent hover:underline;
}

.text-fill-none {
    -webkit-text-fill-color: transparent;
}
