section.section-overall {
    .stats-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & > div {
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            h3 {
                font-size: 1.25rem;
                margin-bottom: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                opacity: 0.64;
            }
            p {
                svg {
                    margin-top: 0rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .games-stats {
            // min-width: 420px;
            .games-stats-container {
                display: flex;
                justify-content: space-between;

                & > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .games-pie-chart {
                    margin-left: 0.5rem;

                    .pie-chart {
                        width: 8rem;
                        height: 8rem;
                    }
                }
            }
        }

        .misc-general-stats {
            display: flex;
        }
    }
}

@media (min-width: 600px) {
    section.section-overall {
        .stats-container {
            flex-direction: row;
            & > div {
                min-width: 320px;
            }
            .games-stats {
                min-width: 420px;

                .games-stats-container {
                    .games-pie-chart {
                        margin-left: 2rem;
                        .pie-chart {
                            width: 12rem;
                            height: 12rem;
                        }
                    }
                }
            }
        }
    }
}
