section.section-overall {
}

@media (min-width: 600px) {
    section.section-overall {
        .stats-container {
            flex-direction: row;
            & > div {
                min-width: 320px;
            }
            .games-stats {
                min-width: 420px;

                .games-stats-container {
                    .games-pie-chart {
                        margin-left: 2rem;
                        .pie-chart {
                            width: 12rem;
                            height: 12rem;
                        }
                    }
                }
            }
        }
    }
}
