.container {
    position: relative;
    overflow-x: hidden;

    .anchor {
        position: absolute;
        background-color: transparent;
        z-index: 100;
        top: 0;
        right: -4px;
        bottom: 0;
        width: 8px;
        cursor: ew-resize;

        .indicator {
            opacity: 0;
            transition: 0.15s all ease;
            width: 4px;
            height: 100%;
        }

        &:hover {
            .indicator {
                opacity: 1;
                background-color: #95cc5e;
            }
        }

        &::after {
            transition: 0.15s all ease;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            z-index: -1;
            background-color: rgba(20, 20, 20, 0.25);
            opacity: 0;
            pointer-events: none;
        }

        &.isDragging {
            &::after {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
