@import '~styles/theme.scss';

.rankingsTable {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 100%;
    text-align: center;

    .name {
        text-align: left;
    }

    thead {
        color: $on-bg-dark-var1;
    }

    @media only screen and (max-width: 600px) {
        & {
            display: block;
        }

        thead {
            display: none;
        }
    }
}
