@import '~styles/theme.scss';

.footer {
    background-color: $bg-dark;

    .section {
        border-top: 1px solid rgba($on-bg-dark-var1, 0.16);

        .container {
            padding: 4rem 2rem;
            display: grid;
            margin: 0 auto;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            justify-content: center;
            gap: 2rem;

            .category {
                .title {
                    color: $accent;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                .logo {
                    width: auto;
                    height: 1.5rem;
                }

                .content {
                    color: $on-bg-dark-var1;
                    line-height: 1.5rem;

                    &.socials {
                        display: flex;
                        gap: 1rem;

                        svg {
                            width: 2rem;
                            height: 2rem;
                            fill: $on-bg-dark-var1;

                            &:hover {
                                fill: $accent;
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            padding: 2rem;
            text-align: center;
            color: $on-bg-dark-var1;
        }
    }
}
