@import '~styles/theme.scss';

.options {
    background-color: $bg-dark;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $on-bg-dark;
    cursor: pointer;
    height: 3rem;
    text-align: center;
}
