@import '~styles/theme.scss';

.card {
    background-color: $bg-dark-var1;
    padding: 1rem;
    border-radius: 1rem;

    .title {
        font-size: 0.75rem;
        font-weight: bold;
        color: $on-bg-dark-var1;
        text-transform: uppercase;
        border-bottom: 1px solid $bg-dark-var1;
        display: block;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
