@import '~styles/theme.scss';

.container {
	padding: 1rem;

	.title {
		color: $text-2;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		align-items: center;
		font-size: 0.75rem;
		cursor: pointer;

		svg {
			fill: $text-2;
			height: 1rem;
		}

		&:hover {
			color: $accent;
			svg {
				fill: $accent;
			}
		}
	}
	.content {
		margin-top: 1rem;
	}

	.icon {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		cursor: pointer;

		svg {
			fill: $text-2;
			width: 1rem;
		}

		&:hover {
			svg {
				fill: $accent;
			}
		}
	}
}

.separator {
	border-bottom: 1px solid $bg;
}
