.PlayerPage header {
  height: 422px;
  width: 100%;
  background-color: var(--bg-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
}

.PlayerPage header .banner-img {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.PlayerPage header .banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.PlayerPage header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.PlayerPage header .header-info .profile-picture {
  position: relative;
  min-width: 192px;
  width: 192px;
  min-height: 192px;
  height: 192px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -96px;
  border: 4px solid var(--bg-light);
  margin-left: 64px;
  cursor: pointer;
  background-color: var(--bg-light);
}

.PlayerPage header .header-info .profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  pointer-events: none;
}

.PlayerPage header .header-info .profile-picture .add-to-fav-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.PlayerPage header .header-info .profile-picture .add-to-fav-btn:hover svg {
  fill: #fff;
}

.PlayerPage header .header-info .profile-picture:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(2px) grayscale(80%);
          filter: blur(2px) grayscale(80%);
  opacity: 0.24;
}

.PlayerPage header .header-info .profile-picture:hover .add-to-fav-btn {
  opacity: 1;
}

.PlayerPage header .header-info .main-info {
  margin-left: 1rem;
}

.PlayerPage header .header-info .main-info h1 {
  font-size: 2.5rem;
  margin: 0.25rem 0;
  font-weight: bold;
}

.PlayerPage header .header-info .main-info p {
  margin: 0;
  font-size: 0.75rem;
  opacity: 0.64;
}

.PlayerPage header .main-nav {
  max-width: 1200px;
  width: 100%;
  margin-top: 0.5rem;
}

.PlayerPage header .main-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.PlayerPage header .main-nav ul li {
  padding: 0.5rem;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border-bottom: 2px solid transparent;
}

.PlayerPage header .main-nav ul li a {
  padding: 0.5rem 1rem;
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 600;
  opacity: 0.64;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border: 0.5px solid transparent;
}

.PlayerPage header .main-nav ul li:hover a {
  background-color: var(--bg);
  border-right: 0.5px solid rgba(255, 255, 255, 0.05);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
  opacity: 1;
}

.PlayerPage header .main-nav ul li.active {
  border-bottom: 2px solid var(--accent);
}

.PlayerPage header .main-nav ul li.active a {
  background-color: transparent;
  border: 0.5px solid transparent;
  color: var(--accent);
  opacity: 1;
}

.PlayerPage main {
  max-width: 1200px;
  margin: 0 auto;
}

.PlayerPage main section h2.section-title {
  font-weight: normal;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.PlayerPage main section h2.section-title::before {
  content: '#';
  color: var(--accent);
  margin-right: 0.5rem;
}

.PlayerPage main section.section-overview .ranked-overview-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PlayerPage main section.section-overview .ranked-overview-display .main-ranked-banner {
  margin: 0 1rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: MainBannerBounce;
          animation: MainBannerBounce;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.PlayerPage main section.section-overview .ranked-overview-display .main-ranked-banner:hover {
  -webkit-animation-name: MainBannerBounce;
          animation-name: MainBannerBounce;
}

.PlayerPage main section.section-overview .ranked-overview-display .ranked-overall {
  text-align: right;
  -webkit-animation-name: SlideFromLeft;
          animation-name: SlideFromLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.PlayerPage main section.section-overview .ranked-overview-display .ranked-best-legend {
  text-align: left;
  -webkit-animation-name: SlideFromRight;
          animation-name: SlideFromRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.PlayerPage main section.section-overview .ranked-overview-display .ranked-stats .region-icon,
.PlayerPage main section.section-overview .ranked-overview-display .ranked-stats .legend-icon {
  width: 2rem;
  height: 2rem;
}

.PlayerPage main section.section-overview .ranked-overview-display .ranked-stats .region-icon {
  border-radius: 0.5rem;
}

.PlayerPage main section.section-overall .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.PlayerPage main section.section-overall .stats-container > div {
  min-width: 320px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PlayerPage main section.section-overall .stats-container > div h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.64;
}

.PlayerPage main section.section-overall .stats-container > div p svg {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.PlayerPage main section.section-overall .stats-container .games-stats {
  min-width: 420px;
}

.PlayerPage main section.section-overall .stats-container .games-stats .games-stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PlayerPage main section.section-overall .stats-container .games-stats .games-stats-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PlayerPage main section.section-overall .stats-container .games-stats .games-stats-container .games-pie-chart {
  margin-left: 2rem;
}

.PlayerPage main section.section-overall .stats-container .misc-general-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PlayerPage main section.section-2v2 .ranked-teams {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.PlayerPage main section.section-2v2 .ranked-teams .ranked-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.PlayerPage main section.section-2v2 .ranked-teams .ranked-team h3 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PlayerPage main section.section-2v2 .ranked-teams .ranked-team h3 img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}

.PlayerPage main section.section-2v2 .ranked-teams .ranked-team .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.PlayerPage main section.section-2v2 .ranked-teams .ranked-team .stats-container img {
  --delay: 1s;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border: 2px solid var(--bg);
  border-radius: 12px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: Pop;
          animation: Pop;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-delay: var(--delay);
          animation-delay: var(--delay);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes MainBannerBounce {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  3% {
    -webkit-transform: scale(1.05, 1.15);
            transform: scale(1.05, 1.15);
  }
  6% {
    -webkit-transform: scale(1.05, 0.95);
            transform: scale(1.05, 0.95);
  }
  8% {
    -webkit-transform: scale(1, 1.05);
            transform: scale(1, 1.05);
  }
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes MainBannerBounce {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  3% {
    -webkit-transform: scale(1.05, 1.15);
            transform: scale(1.05, 1.15);
  }
  6% {
    -webkit-transform: scale(1.05, 0.95);
            transform: scale(1.05, 0.95);
  }
  8% {
    -webkit-transform: scale(1, 1.05);
            transform: scale(1, 1.05);
  }
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes SlideFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes SlideFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(48px);
            transform: translateX(48px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(48px);
            transform: translateX(48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(48px);
            transform: translateX(48px);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(48px);
            transform: translateX(48px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes Pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes Pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flyFromBottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyFromBottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */