@import '~styles/theme.scss';

.og {
    width: 100vw;
    height: 100vh;
    position: relative;
    width: 1200px;
    height: 630px;
    background-color: $bg-dark;
    border: 2px solid $bg-dark-var1;
    overflow: hidden;
    padding: 2rem;

    h1 {
        color: $on-bg-dark;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .statgroup {
        margin-bottom: 2rem;

        h2 {
            color: $on-bg-dark;
            font-size: 2.5rem;
            line-height: 2rem;
        }

        h3 {
            color: $on-bg-dark-var1;
            font-size: 1.5rem;
            font-weight: normal;
            text-transform: uppercase;

            .mostPlayedImg {
                object-fit: contain;
                object-position: center;
                margin-top: 1rem;
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }

    .banner {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(25%) rotate(5deg);
        z-index: 1;
        opacity: 0.15;
    }
}
