@import './theme.scss';

.button {
	background-color: $gray-1;
	color: $light;
	padding: 0.75rem 1rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	cursor: pointer;
	outline: none;

	&.selected {
		background-color: $accent;
	}
}

.input {
	background-color: $gray-1;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	color: $light;
	font-size: 1rem;
}

.label {
	color: $light;
}
