@import './theme.scss';

.container {
	background-color: $gray-1;
	grid-area: sidenav;

	.navItem {
		position: relative;
		width: 100%;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.navIcon {
			width: 50%;
			height: 50%;
			stroke-width: 4px;
			stroke: $gray-3;
		}

		&.selected {
			.navIcon {
				stroke: $light;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 2px;
				background-color: $accent;
			}
		}

		&:hover {
			.navIcon {
				stroke: $light;
			}
		}
	}
}
