@import './theme.scss';

.container {
	.treeNode {
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		color: $light;
		margin-bottom: 0.25rem;

		&:hover {
			background-color: $gray-0;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -0.25rem;
			bottom: 50%;
			width: 1px;
			background-color: $gray-0;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: -0.25rem;
			width: 0.25rem;
			height: 1px;
			background-color: $gray-0;
		}

		.treeNodeIcon {
			width: 1rem;
			height: 1rem;
			margin-right: 0.5rem;
			fill: $gray-3;
		}
	}

	.treeNodeContainer {
		margin-left: 0.5rem;
	}
}
