@import '~styles/theme.scss';

.article {
    max-width: 1200px;
    margin: 0 auto;

    .title {
        font-size: 4rem;
        padding: 4rem 2rem;
        color: $text;

        .subtitle {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: $text-2;
        }
    }

    .content {
        color: $text;
    }
}
