@import '@styles/theme.scss';

.container {
	background-color: $bg-1;
	padding: 1rem;
	border: 0.5px solid transparent;
	display: flex;
	flex-direction: column;
	transition: 0.1s ease-in all;
	border-color: $bg;
	border-radius: 0.5rem;

	&:hover {
		border-color: $accent;
		box-shadow: $card-shadow;
	}

	.title {
		color: $text-2;
		font-size: 0.75rem;
		text-transform: uppercase;
		margin: 0 0.125rem;
		font-weight: 600;
		margin-bottom: 1rem;
		border-radius: 0.125rem;
	}
}
