@import '@styles/theme.scss';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 101;
	position: relative;
	border-bottom: 1px solid $bg-1;
	height: 2rem;
	padding: 1rem;
	background-color: $bg;
	color: $text;

	& > div {
		display: flex;
		align-items: center;
	}

	&.showSearch {
		padding: 0 1rem 0 0;
		background-color: $text;
		color: $bg;
	}

	.title {
		font-size: 1rem;
		margin-left: 1rem;
	}

	.logo {
		height: 1.5rem;
	}

	.icon {
		width: 1rem;
		height: 1rem;
		color: $text;

		svg {
			fill: none;
			stroke-width: 0.5rem;
			border: currentColor;
		}
	}
}
