@import '@styles/theme.scss';

.options {
	background-color: $bg;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	box-shadow: $card-shadow;
	color: $text;
	cursor: pointer;
	height: 3rem;
	text-align: center;
}
