.modal-container {
    background-color: rgba(black, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .content {
        text-align: center;

        .title {
            margin-bottom: 0.5rem;
            font-size: 2rem;
            font-weight: bold;
        }

        .subtitle {
            margin-bottom: 1rem;
        }

        button {
            padding: 0.5rem 1.25rem;
            background-color: var(--accent);
            cursor: pointer;
        }
    }
}
