@import '~styles/theme.scss';
@import '~styles/devices.scss';

.landingSections {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .landingContent {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 75vh;
        min-height: 32rem;
        max-height: 42rem;
        padding: 0 1rem;
        z-index: 10;
        gap: 2rem;
        width: 100%;

        @media only screen and (min-width: $size_desktop) {
            justify-items: space-between;
            flex-direction: row;
            padding: 0 3rem;
        }

        .text {
            flex: 1;

            .title {
                line-height: 3.5rem;
                font-size: 1.25rem;
                color: $on-bg-dark;
                font-weight: normal;
                margin-bottom: 1rem;
                width: 100%;
                max-width: 540px;
                color: $accent;
                text-transform: uppercase;

                .bold {
                    font-size: 3rem;
                    color: $on-bg-dark;
                    font-weight: bold;
                    display: block;

                    @media only screen and (min-width: $size_desktop) {
                        font-size: 5rem;
                    }
                }
            }

            .desc {
                color: $on-bg-dark-var1;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 2rem;

                @media only screen and (min-width: $size_desktop) {
                    max-width: 540px;
                }
            }

            .searchInput {
                background-color: $on-bg-dark;
                color: $bg-dark-var1;
                border-radius: 1rem;
                height: 2rem;
                outline: none;
                padding: 0 1rem;
                font-size: 1rem;
            }
        }

        .landingImg {
            z-index: 1;
            grid-area: main;
            height: 32rem;
            display: grid;
            grid-template-areas: 'main';
            align-items: top;

            video,
            img {
                grid-area: main;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
                filter: drop-shadow(0px 0px 16px rgba($on-bg-dark, 0.08));
            }

            .podium {
                z-index: 1;
            }

            .illustration {
                z-index: 2;
                height: 60%;
                width: 100%;
                opacity: 0.48;
            }
        }

        .landingBtn {
            color: $on-bg-dark;
            padding: 0.5rem 1rem;
            background-color: $accent;
            display: inline-flex;
            align-items: center;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.5rem $bg-dark;
            gap: 1rem;
            text-transform: uppercase;

            svg {
                width: 2rem;
                height: 2rem;
                fill: $on-bg-dark;
            }

            &:hover {
                background-color: $bg-dark;

                svg {
                    fill: $accent;
                }
            }
        }

        &.right {
            flex-direction: row-reverse;
        }
    }

    .mainContent {
        margin-top: 8rem;
        background-color: $bg-dark;
        border-bottom: 1px solid rgba($on-bg-dark-var1, 0.16);
        padding-bottom: 4rem;
        .landingPreview {
            margin-top: -8rem;
            width: 100%;
            border-radius: 1rem;
            box-shadow: 0 0 1rem $bg-dark-var1;
            margin-bottom: 4rem;
        }

        .blips {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
            justify-items: center;
            padding: 2rem;
            gap: 4rem;

            .blip {
                max-width: 8rem;
            }
        }
    }
}
