@import '~styles/theme.scss';

.header {
    padding: 0.75rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $bg-dark;
    border-bottom: 1px solid $bg-dark-var2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {
        display: none;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 2rem;

        .profileIcon {
            img {
                border-radius: 50%;
                cursor: pointer;
                width: 2.5rem;
                height: 2.5rem;
                object-fit: cover;
                object-position: center;
            }
        }

        .loginBtn {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background-color: $accent;
            color: $on-bg-dark;
            box-shadow: 0 0 0.5rem rgba(black, 0.24);
            white-space: nowrap;

            fill: $on-bg-dark;
        }
    }

    @media only screen and (max-width: 1000px) {
        .searchBar,
        .content,
        .nav {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    @media only screen and (max-width: 1000px) {
        .content {
            flex-direction: column;
            gap: 1rem;
            align-items: stretch;
        }
    }
}
