header {
    width: 100%;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);

    .banner-img {
        height: 128px;
        width: 100%;
        max-width: 1200px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;

        .profile-picture {
            position: relative;
            min-width: 160px;
            width: 160px;
            min-height: 160px;
            height: 160px;
            overflow: hidden;
            border-radius: 50%;
            margin-top: -80px;
            border: 4px solid var(--bg-light);
            cursor: pointer;
            background-color: var(--bg-light);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: 0.5s all ease;
                pointer-events: none;
            }

            .add-to-fav-btn {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                z-index: 10;
                opacity: 0;
                transition: 0.25s ease all;
                border: none;
                background-color: transparent;

                &:hover {
                    svg {
                        fill: #fff;
                    }
                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                    filter: blur(2px) grayscale(80%);
                    opacity: 0.24;
                }

                .add-to-fav-btn {
                    opacity: 1;
                }
            }
        }

        .main-info {
            text-align: center;
            h1 {
                font-size: 2.5rem;
                margin: 0.25rem 0;
                font-weight: bold;
            }
            p {
                margin: 0;
                font-size: 0.75rem;
                opacity: 0.64;
            }
        }
    }

    .main-nav {
        max-width: 1200px;
        width: 100%;
        margin-top: 0.5rem;
        ul {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            li {
                padding: 0.5rem 0;
                transition: 0.25s all;
                border-bottom: 2px solid transparent;
                flex: 1;
                text-align: center;
                a {
                    padding: 0.5rem 0.25rem;
                    display: block;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    border-radius: 8px;
                    font-weight: 600;
                    opacity: 0.64;
                    transition: 0.25s all;
                    border: 0.5px solid transparent;
                }
                &:hover a {
                    background-color: var(--bg);
                    border-right: 0.5px solid rgba(255, 255, 255, 0.05);
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
                    opacity: 1;
                }

                &.active {
                    border-bottom: 2px solid var(--accent);
                    a {
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: var(--accent);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    header {
        .header-info {
            display: flex;
            flex-direction: row;
            width: 100%;

            .profile-picture {
                min-width: 192px;
                width: 192px;
                min-height: 192px;
                height: 192px;
                margin-top: -96px;
                margin-left: 64px;
            }

            .main-info {
                text-align: left;
                margin-left: 1rem;
                h1 {
                    font-size: 2.5rem;
                    margin: 0.25rem 0;
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    font-size: 0.75rem;
                    opacity: 0.64;
                }
            }
        }

        .main-nav {
            ul {
                li {
                    flex: 0;
                    padding: 0.5rem;
                    a {
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    header {
        .banner-img {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
