.container {
	font-size: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	height: 100%;

	.input {
		font-size: inherit;
		width: 100%;
		margin-right: 1rem;
		height: 100%;
		padding-left: 1rem;
	}
}
