@import '~styles/theme.scss';

.header {
    padding: 0.75rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $bg-dark-var1;
    border-bottom: 2px solid $bg-dark-var2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {
        display: none;
    }

    @media only screen and (max-width: 1000px) {
        .searchBar,
        .content,
        .nav {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    @media only screen and (max-width: 1000px) {
        .content {
            flex-direction: column;
            gap: 1rem;
            align-items: stretch;
        }
    }
}
