.PlayerPage {
    section {
        h2.section-title {
            font-weight: normal;
            margin: 1rem 0;
            font-size: 1.5rem;

            &::before {
                content: '#';
                color: var(--accent);
                margin-right: 0.5rem;
            }
        }

        .stats-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            & > div {
                flex: 1;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    opacity: 0.64;
                }
                p {
                    svg {
                        margin-top: 0rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .games-stats {
                // min-width: 420px;
                .games-stats-container {
                    display: flex;
                    justify-content: space-between;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                    .games-pie-chart {
                        margin-left: 0.5rem;
                    }
                }
            }
        }

        .misc-general-stats {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
            p {
                padding: 1rem;
                span {
                    &.title {
                        display: block;
                    }
                }
            }
        }
    }
}
