$bg-dark: var(--bg-dark);
$bg-dark-var1: var(--bg-dark-var1);
$bg-dark-var2: var(--bg-dark-var2);
$on-bg-dark: var(--on-bg-dark);
$on-bg-dark-var1: var(--on-bg-dark-var1);
$accent: var(--accent);

$card-shadow: 0 0 0.5rem rgba(#000, 0.16);
