@import '~styles/theme.scss';

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba($bg-dark, 0.5);
}
