@import '~styles/theme.scss';

.wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 0;

    .rankedIcon {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.15;
        transform: translateX(25%) rotate(20deg);
        z-index: -1;
    }

    .teammateName {
        font-size: 1rem;
        color: $on-bg-dark;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.125rem;
        font-weight: bold;

        &:hover {
            color: $accent;
        }

        .regionIcon {
            width: 1rem;
            height: auto;
            border-radius: 0.25rem;
            margin-right: 0.5rem;
        }
    }

    .winrateContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
