@import './theme.scss';

.container {
    background-color: $gray-0;
    grid-area: timeline;
    display: grid;
    grid-template-rows: auto 1fr;

    .header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        border-bottom: 1px solid $gray-2;
        padding: 0.5rem;
    }

    .currentFrame,
    .timeFlow {
        input {
            background-color: transparent;
            outline: none;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-size: 1.5rem;
            color: $light;
            border: 1px solid transparent;
        }
    }

    .currentFrame {
        text-align: center;
        input {
            width: 8rem;

            &:hover {
                border-color: $accent;
            }

            &:focus {
                background-color: $gray-2;
                border-color: $accent;
            }
        }
    }

    .timeFlow {
        input {
            width: 8rem;
            background-color: $gray-2;

            &:hover,
            &:focus {
                border-color: $accent;
            }
        }
    }
}
