@import '~styles/theme.scss';

.mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(black, 0.48);
    display: grid;
    grid-template-columns: auto 1fr;

    .content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 1rem;
    }
}
