.searchBar {
    display: flex;

    .loader {
        display: inline-block;
        position: relative;
        width: 2.5rem;
        height: 2.5rem;

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 2rem;
            height: 2rem;
            margin: 8px;
            border: 0.25rem solid #fff;
            border-radius: 50%;
            animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }

            &:nth-child(2) {
                animation-delay: -0.3s;
            }

            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
