@import './animations.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    padding: 0;
}

#App {
    background-color: var(--bg);
    color: var(--text);

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'topbar'
        'page';

    .page {
        grid-area: page;
        overflow-y: scroll;
    }
}

a,
a:visited {
    text-decoration: none;
    color: var(--text);

    &:hover {
        svg {
            fill: var(--accent);
        }
    }

    svg {
        fill: var(--text);
    }
}

ul {
    list-style: none;
}

svg {
    display: inline-block;
}

::-webkit-scrollbar {
    background-color: var(--bg);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text);
    border: 0.25rem solid var(--bg);
    border-radius: 0.5rem;
}

.card {
    background-color: var(--bg-alt);
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem;
    border: 0.5px solid transparent;
    animation: flyFromBottom;
    animation-duration: 0.4s;
    animation-delay: var(--delay);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;

    &:hover {
        border-color: var(--accent);
    }
}

.stat-desc {
    font-size: 0.75rem;
    opacity: 0.64;
    text-transform: uppercase;
}

.stat {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.stat-large {
    font-size: 2rem;
}

.stat-medium {
    font-size: 1.5rem;
}

hr {
    margin: 0.5rem 0;
}

.filters-container {
    display: flex;
    justify-content: flex-end;

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;

        label {
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 600;
            opacity: 0.64;
        }

        select {
            margin-top: 0.5rem;
            outline: none;
            padding: 0.5rem;
            border-radius: 0.25rem;
        }

        button {
            margin-top: 0.5rem;
            width: 2.5rem;
            height: 100%;
            cursor: pointer;
            outline: none;
            border-radius: 0.25rem;
            background-color: var(--text);

            svg {
                fill: var(--bg);
            }

            &:hover {
                background-color: var(--accent);
                svg {
                    fill: var(--text);
                }
            }
        }
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.pie-chart {
    transform: scale(0);
    animation: Pop;
    animation-duration: 0.35s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.bar-chart {
    .fill {
        transform: scale(0);
        animation: FillBarChart;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}
