@import '~styles/theme.scss';

.pagination {
    display: flex;
    gap: 0.25rem;

    .item {
        color: $on-bg-dark;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        background-color: transparent;

        &.separator {
            background-color: $bg-dark;
            color: $on-bg-dark;
        }

        &.link {
            &:hover {
                color: $on-bg-dark;
                background-color: $bg-dark-var2;
            }
        }

        &.active {
            cursor: default;
            color: $on-bg-dark;
            background-color: $bg-dark-var2;
        }
    }
}
