name: Code QA
on: [push]
jobs:
    analyze:
        name: Analyze
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - name: Lint
                      action: pnpm ci:lint
                    - name: Check Types
                      action: pnpm ts:check
                    - name: Check Deadcode
                      action: pnpm ci:deadcode
        steps:
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v2
              with:
                  version: 7.4.0
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
                  cache: "pnpm"
                  cache-dependency-path: pnpm-lock.yaml
            - name: ${{ matrix.name }}
              run: |
                  pnpm ci:install
                  ${{ matrix.action }}
