@import '~styles/theme.scss';

.sidenav {
    position: sticky;
    top: 0;
    background-color: $bg-dark;
    width: 16rem;
    height: 100vh;
    background-color: $bg-dark;
    border-right: 1px solid $bg-dark-var2;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 1rem 0.5rem;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 0.75rem;

        .navItem {
            min-height: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: $on-bg-dark-var1;
            font-size: 1rem;
            background-color: $bg-dark-var1;
            border-radius: 0.5rem;
            padding: 0.25rem;
            cursor: pointer;
            text-overflow: ellipsis;
            word-wrap: nowrap;

            svg {
                fill: none;
                stroke: $on-bg-dark-var1;
                stroke-width: 0.125rem;
                width: 2rem;
            }

            img {
                width: 2rem;
                height: 1.5rem;
                object-fit: contain;
                object-position: center;
            }

            &:hover {
                border-color: $on-bg-dark-var1;
            }

            &.active {
                border-color: $accent;
                color: $on-bg-dark;

                svg {
                    stroke: $on-bg-dark;
                }
            }
        }

        .profileIcon {
            cursor: pointer;

            img {
                width: 2rem;
                height: 2rem;
                object-fit: cover;
                object-position: center;
                border-radius: 1.25rem;
                box-shadow: 0 0 0.5rem rgba(black, 0.24);
            }
        }

        .separator {
            border-bottom: 1px solid $bg-dark-var2;
        }
    }
}
