header {
  height: 320px;
  width: 100%;
  background-color: var(--bg-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
}

header .banner-img {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

header .banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

header .header-info .profile-picture {
  position: relative;
  min-width: 160px;
  width: 160px;
  min-height: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -80px;
  border: 4px solid var(--bg-light);
  cursor: pointer;
  background-color: var(--bg-light);
}

header .header-info .profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  pointer-events: none;
}

header .header-info .profile-picture .add-to-fav-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

header .header-info .profile-picture .add-to-fav-btn:hover svg {
  fill: #fff;
}

header .header-info .profile-picture:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(2px) grayscale(80%);
          filter: blur(2px) grayscale(80%);
  opacity: 0.24;
}

header .header-info .profile-picture:hover .add-to-fav-btn {
  opacity: 1;
}

header .header-info .main-info {
  text-align: center;
}

header .header-info .main-info h1 {
  font-size: 2.5rem;
  margin: 0.25rem 0;
  font-weight: bold;
}

header .header-info .main-info p {
  margin: 0;
  font-size: 0.75rem;
  opacity: 0.64;
}

header .main-nav {
  max-width: 1200px;
  width: 100%;
  margin-top: 0.5rem;
}

header .main-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .main-nav ul li {
  padding: 0.5rem 0;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border-bottom: 2px solid transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

header .main-nav ul li a {
  padding: 0.5rem 0.25rem;
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 600;
  opacity: 0.64;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border: 0.5px solid transparent;
}

header .main-nav ul li:hover a {
  background-color: var(--bg);
  border-right: 0.5px solid rgba(255, 255, 255, 0.05);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);
  opacity: 1;
}

header .main-nav ul li.active {
  border-bottom: 2px solid var(--accent);
}

header .main-nav ul li.active a {
  background-color: transparent;
  border: 0.5px solid transparent;
  color: var(--accent);
  opacity: 1;
}

@media (min-width: 600px) {
  header {
    height: 422px;
  }
  header .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  header .header-info .profile-picture {
    min-width: 192px;
    width: 192px;
    min-height: 192px;
    height: 192px;
    margin-top: -96px;
    margin-left: 64px;
  }
  header .header-info .main-info {
    text-align: left;
    margin-left: 1rem;
  }
  header .header-info .main-info h1 {
    font-size: 2.5rem;
    margin: 0.25rem 0;
    font-weight: bold;
  }
  header .header-info .main-info p {
    margin: 0;
    font-size: 0.75rem;
    opacity: 0.64;
  }
  header .main-nav ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0.5rem;
  }
}

@media (min-width: 1200px) {
  header .banner-img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
/*# sourceMappingURL=styles.css.map */